# Python
backend/venv/
backend/__pycache__/
backend/.env
backend/output/
backend/uploads/
*.pyc

# Angular
frontend/node_modules/
frontend/.angular/
frontend/dist/

# OS / IDE
.DS_Store
Thumbs.db

# Logs
*.log